div { border: 0px; } 
        body{font-family:Arial,微軟正黑體,新細明體, Helvetica, sans-serif; color:#333333;}
		a.btn .glyphicon {vertical-align: sub;}
		.container input[type="text"], .container input[type="password"] {max-width: 100%;}
        .col-md-3{text-align:right; padding-right:0px;}
        .row{ padding:4px 0px;}
        .col-md-9{padding-left:0px;}        
        .bs-footer{padding:0; margin:0; bottom:0; left:0; width:100%; position:fixed;}        
        #foot { background-repeat:repeat-x; color:#898989; text-align:center;background-color:#f9f9f9;}
        @media (max-width: 991px) 
        {
            .col-md-3{text-align:left;}
            .col-md-9{padding-left:30px;}
			.container input[type="text"], .container input[type="password"] {max-width: 100%;width: 100% !important;}
			.table .row>div {padding: 0;}
			#LinkButton1,#LinkButton2 {margin: 0 !important;margin-bottom: 10px !important;}
        }
        @media (min-width: 992px) {
            .container{width:820px;}            
        }
        .table>tbody>tr>td {border-top:none;}